<% provide(:title, @group.name) %>
<%= render 'groups/group_details', group: @group %>
<% if policy(DrawlessGroup.new(@group)).select_suite? %>
  <% if @group.suite.present? %>
    <dl>
      <dt>Suite</dt>
      <dd><%= SuiteDecorator.new(@group.suite).name %></dd>
    </dl>
    <% if policy(@group.suite_assignment).destroy? %>
      <%= link_to 'Remove suite', group_suite_assignment_path(@group), method: :delete, class: 'button alert' %>
    <% end %>
  <% else %>
    <% if policy(SuiteAssignment.new(group: @group)).new? %>
      <%= link_to 'Assign suite', new_group_suite_assignment_path(@group), class: 'button' %>
    <% end %>
  <% end %>
<% end %>
<hr />
<div>
  <% if policy(@group).edit? %>
    <%= link_to 'Edit', edit_group_path(@group), class: 'button secondary' %>
  <% end %>
  <% if policy(@group).lock? %>
    <%= link_to 'Lock Group', lock_group_path(@group), method: :put, class: 'button alert' %>
  <% end %>
  <% if policy(@group).unlock? %>
    <%= link_to 'Unlock All Members', unlock_group_path(@group), method: :put, class: 'button alert' %>
  <% end %>
  <% if policy(RoomAssignment.from_group(@group)).new? %>
    <%= link_to 'Assign rooms', new_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <% if policy(RoomAssignment.from_group(@group)).edit? %>
    <%= link_to 'Edit room assignments', edit_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <% if policy(@group).destroy? %>
    <%= link_to('Disband', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to disband this group?' }, class: 'button alert') %>
  <% end %>
</div>

<% if policy(@group).index? %>
  <%= link_to 'View all special groups', groups_path %>
<% end %>

<% content_for :sidebar do %>
  <h1 class="h3">Compatible Suites</h1>
  <p class="h4">
    <%= @compatible_suites.count %> available
    <%= size_str(@group.size).capitalize.pluralize(@compatible_suites.count) %>
  </p>
  <% unless @compatible_suites_no_draw.count.zero? %>
    <h2 class="h4">Not in Any Draw</h2>
    <%= render 'groups/suites_table', suites: @compatible_suites_no_draw %>
  <% end %>
  <% unless @compatible_suites_in_draw.count.zero? %>
    <h2 class="h4">In Draw(s)</h2>
    <%= render 'groups/suites_table', suites: @compatible_suites_in_draw %>
  <% end %>
<% end %>
